<div class="card card-body">
        <div class="col-md-6 m-auto">
                <div class="card card-body">
<p>please enter your email id</p>
<form action="/users/forgot" method="post">
    <input class="form-control" type="email" name="email" required>
    <label for="reset">Reset Password</label>
<button type="submit" id="reset" class="btn btn-primary btn-block">Reset</button>
</form>
</div>
</div></div>